@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;500&family=Poppins:wght@500&display=swap');

body {
  background: rgb(138,138,138);
  background: linear-gradient(90deg, rgba(138,138,138,1) 0%, rgba(5,19,83,1) 100%);
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.header {
  background-color: rgb(0, 24, 68);
  color: white;
  font-size: 14px;
  padding: 6px;
  display: flex; /* Exibe os elementos em formato de flexbox */
  align-items: center; /* Centraliza verticalmente os elementos */
  justify-content: space-between; /* Coloca os elementos nos extremos (esquerda e direita) */
  -webkit-app-region: drag; /* Permite arrastar a janela ao clicar e arrastar na barra */
}

/* Estilo do título do cabeçalho */
.title {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-left: 20px;
  flex: 1; /* Expande para ocupar o espaço restante no cabeçalho */
}

.header2 {
  background-color: rgba(0, 0, 0, 0.15);
  color: white;
  font-size: 28px;
  padding: 6px;
  display: flex; /* Exibe os elementos em formato de flexbox */
  align-items: center; /* Centraliza verticalmente os elementos */
  justify-content: space-between; /* Coloca os elementos nos extremos (esquerda e direita) */
  -webkit-app-region: drag; /* Permite arrastar a janela ao clicar e arrastar na barra */
}

/* Estilo do título do cabeçalho */
.title2 {
  display: flex;
  justify-content: center;
  flex: 1; /* Expande para ocupar o espaço restante no cabeçalho */
}

.header3 {
    background-color: rgba(0, 0, 0, 0.15);
    color: white;
    font-size: 28px;
    padding: 6px;
    display: flex; /* Exibe os elementos em formato de flexbox */
    align-items: center; /* Centraliza verticalmente os elementos */
    justify-content: center;
    -webkit-app-region: drag; /* Permite arrastar a janela ao clicar e arrastar na barra */
}

.beta {
  font-family: 'Poppins', sans-serif;
  margin-top: 2px;
  margin-left: 42px;
  border-radius: 2%;
  font-size: 100%; /* Valor menor que 100% para reduzir o tamanho do texto */
}


/* Estilo dos botões de controle */
.controls {
  padding-right: 20px;
  display: flex;
}

button {
  background-color: transparent;
  color: white;
  font-size: 16px;
  width: 25px;
  height: 25px;
  border: none;
  margin-left: 5px; /* Adiciona uma margem entre os botões */
  cursor: pointer;
  -webkit-app-region: no-drag; /* Evita que os botões sejam arrastados */
}

button:hover {
  background-color: #555;
}

.install-button {
  margin-top: 20px;
}

.container {
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  box-sizing: border-box;
}

.block {
  text-align: center;
  align-items: center;
  width: 180px;
  height: 220px;
  padding: 40px;
  border-radius: 2%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.13);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: transform 0.3s ease; /* Adiciona uma transição suave para a transformação */
}

.block img {
  width: 180px;
  object-fit: cover;
}

.block:hover {
  transform: scale(1.1); /* Aumenta a escala do bloco em 1.1x ao passar o mouse */
  z-index: 1;
}


.block p {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  color: white;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Estilo para o botão quando está na classe "clicked" */
.buttons button.clicked {
  background-color: rgb(255, 0, 0);
  color: white;
}

.buttons button {
  width: 80px;
  height: 30px;
  border: none;
  background-color: #eeeeee;
  color: #000000;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}


.buttons button:hover {
  background-color: #133577;
  color: rgb(250, 246, 246); 
}

#buttonvip {
  color: rgb(32, 0, 211);
}

#buttonvip:hover {
  color: rgb(229, 255, 0);
}


.footer-distributed {
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #f5f5f7;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  cursor: pointer;
  display: inline-block;
  width: 60px;
  height: 60px;
  color: #f2f3f5;
  border-radius: 2px;
  font-size: 60px;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}


::-webkit-scrollbar {
  width: 10px;
}

/* Estilo do "thumb" (alça da barra de rolagem) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Cor da alça da barra de rolagem */
  border-radius: 5px; /* Borda arredondada da alça da barra de rolagem */
}

/* Estilo do "thumb" quando hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cor da alça da barra de rolagem ao passar o mouse */
}


